#### joe made this: https://goel.io/joe

#####=== WordPress ===#####

*.log
.htaccess
sitemap.xml
sitemap.xml.gz

node_modules/
assets/components/bce-trevor-js/node_modules/
assets/components/jquery/
assets/components/i18n-js/
assets/components/es5-shim/
assets/components/es6-shim/
assets/components/jquery/


/vendor/
